<!-- Start Footer -->
<footer class="bg-white" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <div class="widget widget_text">
                    <br>
                    <a href="./"><img src="assets/img/DyL_Logo.png" alt="" width="185" height="100"></a>
                    <br>
                    <br/>
                </div>
                <ul class="list-unstyled text-dark footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Cartagena / Colombia
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:+573045671234">+57 304 5671234</a>
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:304571234">+57 304 6872145</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-dark border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-dark footer-link-list">
                    <li><a class="text-decoration-none text-dark">Luxury</a></li>
                    <li><a class="text-decoration-none text-dark">Sport Wear</a></li>
                    <li><a class="text-decoration-none text-dark">Men's Shoes</a></li>
                    <li><a class="text-decoration-none text-dark">Women's Shoes</a></li>
                    <li><a class="text-decoration-none text-dark">Popular Dress</a></li>
                    <li><a class="text-decoration-none text-dark">Gym Accessories</a></li>
                    <li><a class="text-decoration-none text-dark">Sport Shoes</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-dark border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-dark footer-link-list">
                    <li><a class="text-decoration-none text-dark">Home</a></li>
                    <li><a class="text-decoration-none text-dark">About Us</a></li>
                    <li><a class="text-decoration-none text-dark">Shop Locations</a></li>
                    <li><a class="text-decoration-none text-dark">FAQs</a></li>
                    <li><a class="text-decoration-none text-dark">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-dark mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://wa.me/573045671234?text=%C2%A1Hola%21+%C2%BFPodr%C3%ADas+darme+m%C3%A1s+informaci%C3%B3n%3F"><i class="fab fa-whatsapp fa-lg fa-fw"></i></a>
                    </li>
                    @*<li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>*@
                </ul>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="subscribeEmail">Email address</label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">
                    <div class="input-group-text btn-success text-dark">Subscribe</div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2023 D&L Store
                        | Designed by D&L
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->